<form [formGroup]="form" class="row">
    <div class="col-12 mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea type="text" id="description" formControlName="description" placeholder="Descripción" class="form-control"></textarea>
        <p *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)"
            class="text-danger">Ingresa la descripción</p>
    </div>
    <div class="col-12 mb-3">
        <div class="form-check">
            <input type="checkbox" formControlName="isCorrect" id="isCorrect" class="form-check-input" />
            <label for="isCorrect" class="form-check-label">Marcar como correcta</label>
        </div>
    </div>
    <div class="col-12 mb-3">
        <label for="status" class="form-label">Estado</label>
        <select id="status" autocomplete="status" placeholder="status"
            formControlName="status" class="form-control">
            <ng-container *ngFor="let status of statusList">
                <option [value]="status">{{ status }}</option>
            </ng-container>
        </select>
    </div>
</form>