<ng-container *ngIf="questionId; else noQuestionId">
    <h1>Crear respuesta de la pregunta {{ questionId }}</h1>
</ng-container>

<ng-template #noQuestionId>
    <h1>Crear respuesta</h1>
</ng-template>

<ng-container *ngIf="forms && forms.controls.length">
    <ng-container *ngFor="let form of forms.controls; let index = index">
        <answer-create-form [form]="form" [statusList]="statusList" [index]="index"></answer-create-form>
        <div class="mb-3 text-end">
            <button (click)="deleteForm(index)" class="btn btn-danger">Eliminar</button>
        </div>
    </ng-container>
    <div class="text-center">
        <div class="mb-3">
            <button (click)="addForm()" class="btn btn-warning">Agregar respuesta</button>
        </div>
       <button class="btn btn-success" (click)="validate()">
           <span class="button_label">
               Guardar
           </span>
       </button>
    </div>

</ng-container>
