<h1>Preguntas</h1>
<ul>
    <ng-container *ngFor="let question of questions">
        <li>
            <h2>{{ question.title }}</h2>
            <div [innerHtml]="question.description"></div>
            <span>{{ question.createdAt | date: 'dd/MM/yyyy' }}</span><br>
            <span>{{ question.status }}</span>
            <br>
            <br>
            <ng-container *ngIf="question.topic">
                <h3>Tema:</h3>
                <a [routerLink]="'/topics/topic-show/'+ question.topic._id">{{ question.topic.name }}</a>
                <br>
                <p>{{ question.topic.description }}</p>
            </ng-container>
            <br>
            <ng-container *ngIf="question.subtopic">
                <h3>Subtema:</h3>
                <a [routerLink]="'/topics/subtopic-show/'+ question.subtopic._id">{{ question.subtopic.name }}</a>
                <br>
                <p>{{ question.subtopic.description }}</p>
            </ng-container>
        </li>
    </ng-container>
</ul>