<nav>
  <li>
    <a routerLink="home" routerLinkActive="active">Home</a>
  </li>
  <li>
    <a routerLink="register" routerLinkActive="active">registro</a>
  </li>
  <ng-container *ngIf="!isAthenticated">
    <li>
      <a routerLink="login" routerLinkActive="active">login</a>
    </li>
  </ng-container>
  <ng-container *ngIf="isAthenticated">
    <li>
      <a routerLink="topics" routerLinkActive="active">Temas</a>
    </li>
    <li>
      <a routerLink="questions" routerLinkActive="active">Preguntas</a>
    </li>
    <li>
      <button (click)="logout()">Logout</button>
    </li>
    <li>Hola: {{ user.username }}</li>
  </ng-container>
</nav>
<router-outlet></router-outlet>