<h1>Registrar</h1>
<ng-container *ngIf="isLoading;">
    <div class="d-flex justify-content-center mb-5">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-container>
<form [formGroup]="form" class="row">
    <div class="col-12 col-sm-6 mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="name" id="name" formControlName="name" placeholder="Nombre" class="form-control">
        <p *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)" class="text-danger">Ingresa el nombre</p>
    </div>
    <div class="col-12 col-sm-6 mb-3">
        <label for="username" class="form-label">Nombre usuario</label>
        <input type="username" id="username" autocomplete="username" formControlName="username" placeholder="JohnArias" class="form-control">
        <p *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)" class="text-danger">Ingresa el nombre de usuario</p>
    </div>
    <div class="col-12 col-sm-6 mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" id="email"  autocomplete="email" formControlName="email" placeholder="nombre@ejemplo.com" class="form-control">
        <p *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)" class="text-danger">Ingresa el correo</p>
    </div>
    <div class="col-12 col-sm-6 mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" autocomplete="current-password" formControlName="password" placeholder="******" class="form-control">
        <p *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)" class="text-danger">Ingresa la contraseña</p>
    </div>
    <div class="col-12 text-center">
        <button class="btn btn-success"
            (click)="validate()"
            [disabled]="isLoading ? 'disabled' : null">
            <span class="button_label">
                Registrar
            </span>
        </button>
    </div>
</form>