<ng-container *ngIf="resourceType === resourceTypeEnum.TOPIC; else subtopicTemplate">
    <h1>Crear tema</h1>
</ng-container>

<ng-template #subtopicTemplate>
    <h1>Crear subtema</h1>
</ng-template>

<form [formGroup]="form" class="row">
    <div class="col-12 mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" id="name" formControlName="name" placeholder="Nombre" class="form-control">
        <p *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)"
            class="text-danger">Ingresa el nombre</p>
    </div>
    <div class="col-12 mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea id="description" autocomplete="description" formControlName="description" placeholder="Descripción"
            class="form-control" rows="3">
        </textarea>
        <p *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)"
            class="text-danger">
            Ingresa la descripción</p>
    </div>
    <div class="col-12 col-sm-6 mb-3">
        <label for="status" class="form-label">Estado</label>
        <select id="status" autocomplete="status" formControlName="status" placeholder="Estado" class="form-control">
            <option value="">Selecciona el status</option>
            <ng-container *ngFor="let status of statusList">
                <option [value]="status">{{ status }}</option>
            </ng-container>
        </select>
        <p *ngIf="form.get('status')?.invalid && (form.get('status')?.dirty || form.get('status')?.touched)" class="text-danger">Por favor
            Selecciona un estado</p>
    </div>
    <ng-container *ngIf="resourceType === resourceTypeEnum.SUBTOPIC">
        <div class="col-12 col-sm-6 mb-3">
            <label for="topic" class="form-label">Tema</label>
            <select id="topic" autocomplete="topic" formControlName="topic" placeholder="Tema" class="form-control">
                <option value="">Selecciona el tema</option>
                <ng-container *ngFor="let topic of topics">
                    <option [value]="topic._id">{{ topic.name }}</option>
                </ng-container>
            </select>
            <p *ngIf="form.get('topic')?.invalid && (form.get('topic')?.dirty || form.get('topic')?.touched)" class="text-danger">Porfavor
                Selecciona el tema</p>
            <br>
        </div>
    </ng-container>
    <div class="col-12 col-sm-6 mb-3">
        <ng-container *ngIf="file">
            <ng-container *ngIf="fileMediaType === mediaTypeEnum.IMAGE">
                <img [src]="file" alt="" class="mb-3" style="width: 200px;">
            </ng-container>
            <ng-container *ngIf="fileMediaType === mediaTypeEnum.VIDEO">
                <video width="200px" controls class="mb-3">
                    <source [src]="file" type="video/mp4">
                    Tu navegador no admite la reproducción de video.
                </video>
            </ng-container>
            <br>
        </ng-container>
        <label for="file" class="form-label">Archivo (imagen o video)</label>
        <input type="file" id="file" autocomplete="file" formControlName="file" placeholder="file"
            (change)="onFileChange($event)" class="form-control">
        <p *ngIf="form.get('file')?.invalid && (form.get('file')?.dirty || form.get('file')?.touched)" class="text-danger">
            Selecciona el archivo</p>
    </div>
    <div class="col-12 text-center">
        <button class="btn btn-success" (click)="validate()">
            <span class="button_label">
                Guardar
            </span>
        </button>
    </div>
</form>